################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/TurkishUniversities/appsettings.json
/TurkishUniversities/bin/Debug/net6.0/appsettings.json
